@import "../../../colors.scss";
.info-box-container {
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    background: $white;
    height: 100%;
    border-left: 1px $primary solid;
}