.modal-dialog-container {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}


.dialog-content {
    
    max-width: 80%;
}

li {
    margin-bottom: 1em;
    list-style-type: none;
}

.container {
    width: 14em;
}

.form-btn {
    cursor: pointer;
    font-size: 1.0rem;
    margin-left: 1em;
}

#loading-indicator {
    min-width: 2em;
    min-height: 2em;
    background-image: url('../../../assets/loading-indicator-4-dark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

tr:hover {
    background-color: #f0f0f0;
}

pre {
    margin: 0;
    overflow: auto; /* Horizontal scrolling if content overflows */
    white-space: pre-wrap; /* Ensure long code lines wrap */
}

h3 {
    border-width: 0;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-top: 1.5em;
    padding-left: 0;
    font-size: 1.0rem;
}

pre {
    font-family: "Gothic A1", sans-serif; /* Customize font here */
}

#bundle-select {
    margin-bottom: 1em;
}

label {
    font-weight: bold;
    font-size: 1.0rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}