@import '../../../colors.scss';

div#dashboard {
    width: 100%;
    height: 100%;
    /*
    display:flex;
    place-content: center;
    */
    display:grid;
    //grid-template-columns: 1fr;
    grid-template-columns: [main-content]minmax(600px, 1fr) [info-panel]minmax(400px, 25vw);
    grid-template-rows: 1fr;
}

#main-content {
    grid-column: main-content;
    padding: 1em;
}

#systemInitMsgContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#systemInitMsg {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: $crimson;
    color: #fff;
    padding: 1em;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

#systemInitText {
  margin-left: 1em;
  margin-right: 1em;
}

#userFailedAccessListCheckContainer {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

#signed-out-content-container {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-container {
    margin-bottom:2em;
    text-align: center;
    width: 60%;
    max-width: 30em;
}

#final-authentication {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#final-authentication img {
    margin-right: 1em;
}