@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

#header-left-container {
    grid-column: left-panel;
}

#header-container {
    font-family: 'Open Sans Condensed', sans-serif;
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#header-container .title {
    width: 100%;
}

.account-container {
    display:flex;
    font-size: 0.7rem;
    position:relative;
    top:-0.3rem;
    cursor:pointer;
}

.account-container img {
    margin-right: 0.5rem;
    margin-left: 2rem;
    width:1.6rem;
}

#header-container .account {
    width: auto;
    white-space:nowrap;
}

#header-container .account img {
    display:inline-block;
}

#header-container h1 {
    margin:0px;
}

#header-container h2 {
    margin:0px;
    font-size: 1.0rem;
}

#header-container hr {
    border-color: $primary;
    border-style: solid;
    position:fixed;
    top: 7.6vh;
    width: 80vw;
    overflow:visible;
}

#account-widget {
    position:relative;
}

.account-menu-dropdown {
    display:block;
    box-shadow: 0 0 1rem 0.25rem #ccc;
    list-style-type: none;
    margin:0;
    padding:0;
    position:absolute;
    right:0px;
}

.account-menu-dropdown li {
    margin:0;
    padding:0.5rem;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
    background-color: $white;
}

.account-menu-dropdown li:hover {
    background-color: $primary;
    color: $white;
    cursor:pointer;
}