<div id="header-container">
    <div class="title">
        <h1>Humlab Speech</h1>
        <hr />
    </div>
    <div id="account-widget" class="account" *ngIf="userIsSignedIn" (mouseover)="showAccountMenu(true)" (mouseout)="showAccountMenu(false, true)">
        <div class="account-container">
            <img src="assets/user.svg"/>
            <h1 class="user_displayname" (notify)="onNotify($event)">{{ getUserDisplayName() }}</h1>
        </div>

        <ul *ngIf="accountMenuVisible" class="account-menu-dropdown" (click)="signOut()">
            <li><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</li>
        </ul>
    </div>
</div>