input {
    border-width: 1px;
}

ngx-dropzone {
    border-width: 1px;
}

.loading-indicator {
    height: 1em;
    width: auto;
    vertical-align: text-bottom;
}

ngx-dropzone.expandable {
    padding: 1em;
}
.documentation-content {
    padding: 0.25rem 1rem 1rem;
}
