<div class="modal-bg">
  <div class="form modal-dialog-container">
    <div class="dialog-header"><h2>{{ dialogTitle }}</h2>
    <div class="dialog-close-btn" (click)="closeCreateProjectDialog()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <form [formGroup]="form" #f="ngForm">

    <fieldset class="fieldset">
      <label>Project name</label>
      <input id="projectName" placeholder="Project name" formControlName="projectName">

      @if (projectName.pristine == false && projectName.status == 'INVALID') {
        <div >
          @if (projectName.errors?.isFormNameTaken) {
            <div class="form-error-msg">
              That name is already taken
            </div>
          }
          @if (projectName.errors?.required) {
            <div class="form-error-msg">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Project name is required
            </div>
          }
          @if (projectName.errors?.minlength) {
            <div class="form-error-msg">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Project name should be at least {{ projectName.errors.minlength.requiredLength }} characters long
            </div>
          }
          @if (projectName.errors?.maxlength) {
            <div class="form-error-msg">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Project name should be at most {{ projectName.errors.maxlength.requiredLength }} characters long
            </div>
          }
          @if (projectName.errors?.pattern) {
            <div class="form-error-msg">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              Please avoid special characters in the name
            </div>
          }
        </div>
      }

    </fieldset>

    <!--
    <app-documentation-form *ngIf="standardDirectoryStructure.value" [context]="this"></app-documentation-form>
    <app-sessions-form [project]="this.project" [parentForm]="this" [formContextId]="this.formContextId" [projectManager]="this.projectManager"></app-sessions-form>
    -->


    <app-sessions-form #sessionsForm [project]="this.project" [parentForm]="this" [formContextId]="this.formContextId" [projectManager]="this.projectManager"></app-sessions-form>
    @if (standardDirectoryStructure.value) {
      <app-documentation-form #documentationForm [context]="this"></app-documentation-form>
    }


    <br />
    <button id="submitBtn" type="button" [ngClass]="{'disabled': !submitBtnEnabled}" [disabled]="!submitBtnEnabled" (click)="saveProject(f)">
      @if (showLoadingIndicator) {
        <img src="../../../../assets/loading-indicator-4-light.svg">
      }
      @if (!showLoadingIndicator) {
        <i class="fa fa-save" aria-hidden="true"></i>
      }
      &nbsp;
      {{ submitBtnLabel }}
    </button>

  </form>
</div>
</div>
