<div class="modal-bg">
    <div class="form modal-dialog-container">
        <div class="dialog-header"><h2>Create new project</h2>
            <div class="dialog-close-btn" (click)="closeCreateProjectDialog()">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <form [formGroup]="form" #f="ngForm">

            <fieldset class="fieldset">
                
                <!--
                    <div>{{ form.value | json }}</div>
                -->

                <label>Project name</label>
                <input id="projectName" placeholder="Project name" formControlName="projectName">

                <!--<div>{{ projectName.errors | json }}</div>-->

                <div *ngIf="projectName.pristine == false && projectName.status == 'INVALID'" >
                    <div class="form-error-msg" *ngIf="projectName.errors?.isFormNameTaken">
                        That name is already taken
                    </div>
                    <div class="form-error-msg" *ngIf="projectName.errors?.required">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Project name is required
                    </div>
                    <div class="form-error-msg" *ngIf="projectName.errors?.minlength">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Project name should be at least {{ projectName.errors.minlength.requiredLength }} characters long
                    </div>
                    <div class="form-error-msg" *ngIf="projectName.errors?.maxlength">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Project name should be at most {{ projectName.errors.maxlength.requiredLength }} characters long
                    </div>
                    <div class="form-error-msg" *ngIf="projectName.errors?.pattern">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        That's not a good name
                    </div>
                </div>
                
            </fieldset>

            <app-documentation-form *ngIf="standardDirectoryStructure.value" [context]="this"></app-documentation-form>
            
            <!--
            <div *ngIf="EMUDB_INTEGRATION">
                <div class="flex-container">
                    <input id="create-emudb" type="checkbox" formControlName="createEmuDb">
                    <label for="create-emudb">Create EmuDB database</label>
                    &nbsp;<i class="fa fa-question-circle tooltip-zone-dark" aria-hidden="true" [popper]="emuDbPopper" [popperTrigger]="'hover'"></i>
                </div>

                <popper-content #emuDbPopper>
                    <h4>EmuDB</h4>
                    <p class="help-text">
                        An EmuDB is required to work with the EMU tools (e.g., EmuWebApp for transcription, Emu-R for analyses). You should only uncheck this box if you really know what you are doing. Your EmuDB is stored in the Data folder on your project server.
                    </p>
                </popper-content>

                <div *ngIf="createEmuDb.value" class="form">
                    <app-emudb-form [formContextId]="this.formContextId" [projectManager]="this.projectManager"></app-emudb-form>
                </div>
            </div>
            -->
            <app-emudb-form [parentForm]="this" [formContextId]="this.formContextId" [projectManager]="this.projectManager"></app-emudb-form>
            
            <br />
            <button id="submitBtn" [ngClass]="{'disabled': !submitBtnEnabled}" type="button" [disabled]="!submitBtnEnabled" (click)="createProject(f)">
                <img *ngIf="showLoadingIndicator" src="../../../../assets/loading-indicator-4-dark.svg">
                <i *ngIf="!showLoadingIndicator" class="fa fa-save" aria-hidden="true"></i>
                &nbsp;
                {{ submitBtnLabel }}
            </button>

        </form>
    </div>
</div>
