@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

h2.user-displayname {
}

.account {
    display:flex;
    place-content: center;
    align-items: center;
}

.account-container {
    display:flex;
    align-items: center;
    font-size: 0.7rem;
    cursor:pointer;
}

.account-container img {
    margin-right: 0.5rem;
    margin-left: 2rem;
    width:1.6rem;
}

.account-menu-dropdown {
    display:block;
    box-shadow: 0 0 1rem 0.25rem $border-light;
    list-style-type: none;
    margin:0;
    padding:0;
    position:absolute;
    margin-top: 4em;
}

.account-menu-dropdown li {
    margin:0;
    padding:0.5rem;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1rem;
    background-color: $white;
}

.account-menu-dropdown li:hover {
    background-color: $primary-light;
    color: $white;
    cursor:pointer;
}

