@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

fieldset {
    border-style:dotted;
    border-width: 0;
}

button {
    font-size: 1.0rem;
    padding: 0.25rem;
    border-style: solid;
    border-width: 0px;
    margin:0.5rem;
    cursor:pointer;
}

.app-btn {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    //background-color: $comp3;
    background: $dog-ear-gradient;
    color: $black;
    min-width: 10em;
    margin:0;
    padding:0;
    height: 2em;
}

.app-btn-icon-box {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    height:1.5em;
    width:1.5em;
    margin:0;
    padding:0.25em;
    margin-right: 0.5em;
}

.app-btn-icon-box img {
}

.app-btn:hover {
    background-color: lighten($primary, 10%);
}

.application-panel-container {
    display:flex;
    margin-bottom: 2rem;
}

.session-controls-container {
    background-color: $lightgrey;
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.session-controls-container button {
    margin:0;
    padding:0;
    background-color: $secondary-dark;
    color: $white;
    height: 2em;
    width: 2em;
}

.session-controls-container button:hover {
    background-color: lighten($secondary, 10%);
}

.status-msg-container {
    background: $secondary-light;
    color: $white !important;
}

.status-msg-container img {
    height: 0.8rem;
    margin-right:0.5rem;
}

.app-btn-row-container {
    display:flex;
    height: 2em;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0;
    color: $white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.disabled-btn {
    background-color: $lightgrey !important;
    color: $border !important;
}

button img {
    height: 1rem;
    width: 1rem;
    margin:0;
    padding:0;
}

button i {
    height: 1rem;
    width: 1rem;
    margin:0;
    padding:0;
}

.applications-container {
    display:block;
}

.applications-container fieldset {
    margin-bottom: 0.25em;
    padding:0.5rem;
    border: 1px solid $border-light;
    width: 100%;
    border-radius: 0.25em;
}

.button-status-wrapper {
    display:flex;
    height: 2rem;
}

