@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

#tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

li {
    background-color: $white;
    border-radius: 0;
    padding: 1rem;
    list-style: none;
    margin-right: 1rem;
    border-style: solid;
    border-color: $border-light;
    border-width: 1px;
    margin-bottom: 1em;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

i.add-members-btn {
    color: $primary-light;
}

h3 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

h4 {
    font-family: Source Sans Pro;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

.header img {
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.5em;
}

.project-menu {
    position:relative;
    width: 1rem;
    height: 1rem;
    cursor:pointer;
    right:0px;
}

.project-menu-dropdown {
    display:block;
    box-shadow: 0 0 1rem 0.25rem #ccc;
    list-style-type: none;
    margin:0;
    padding:0;
    position:absolute;
    right:0px;
    white-space:nowrap;
}

.project-menu-dropdown li {
    margin:0;
    padding:0.5rem;
    background-color: $white;
}

.project-menu-dropdown li:hover {
    background-color: $primary-light;
    color: $white;
}

.project-main-panel {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.applications-container {
    display:block;
}

.applications-container fieldset {
    margin-bottom: 0.25em;
    padding:0.5rem;
    border: 1px solid $border-light;
    width: 100%;
}

.project-links-container {
    margin-top: 1em;
}
/*
@media only screen and (max-width: 1200px) {
    .project-members-list {
        display:none;
    }
}
*/

.project-members-list {
    display:none;
}

.project-members-list ul {
    border-width: 0;
    padding:0;
    margin:0;
    max-height:4.2em;
    overflow: auto;
}

.project-members-list ul > li {
    border-width: 0;
    padding:0;
    margin:0;
    font-size: 1em;
}

.gitlab-project-container li {
    background:none;
    box-shadow:none;

}

.gitlab-project-container h4 {
    display:flex;
    place-content: baseline;
}

.gitlab-project-container h4 img {
    margin-right: 0.25em;
    height: 1.25em;
}

.gitlab-menu-container {
    display:flex;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-radius: 0.5em;
    border-color: $border-light;
}

.gitlab-menu-container li {
    padding: 0em;
    border-width:0;
}

.gitlab-menu-container a {
    text-decoration: none;
    color: $black;
}

.list-button {
    border-width: 1px;
    border-style: solid;
    border-color: $border-light;
    border-radius: 0.25em;
    padding: 0.5em;
}

.list-button:hover {
    background: $primary-light;
    color: $white;
    cursor:pointer;
}











/** NOTE SURE THE FOLLOWING SHOULD REALLY BE IN THIS FILE... **/

button {
    font-size: 1.0rem;
    padding: 0.25rem;
    border-style: solid;
    border-width: 0px;
    margin:0.5rem;
    cursor:pointer;
}

.app-btn {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $primary-light;
    color: $white;
    min-width: 10em;
    margin:0;
    padding:0;
    height: 2em;
}

.app-btn-icon-box {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    height:1.5em;
    width:1.5em;
    margin:0;
    padding:0.25em;
    margin-right: 0.5em;
}

.app-btn-icon-box img {
}

.app-btn:hover {
    background-color: lighten($primary, 10%);
}