<li>
    <div class="header">
        <h3>{{ project.name }}</h3>
        <div class="project-menu" (mouseover)="showProjectMenu(true)" (mouseout)="showProjectMenu(false, true)">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <ul *ngIf="projectMenuVisible" class="project-menu-dropdown">
                <li (click)="editProject(this.project)"><i class="fa fa-edit" aria-hidden="true"></i> Edit project</li>
                <li (click)="deleteProject()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete project</li>
            </ul>
        </div>
    </div>
    <div class="application-panel-container">
        
        <div class="applications-container">
            <h4>Applications</h4>
            <div *ngFor="let hsApp of hsApplications">
                <app-appctrl [hsApp]="hsApp" [project]="project"></app-appctrl>
            </div>
        </div>
        
    </div>
    <div class="project-links-container">
        <a href="{{ project.web_url }}">Project in Gitlab:</a> | 
        <a href="{{ project.web_url }}/-/wikis/home">wiki</a> | 
        <a href="{{ project.web_url }}/-/issues">issues</a> | 
        <a href="{{ project.web_url }}/-/project_members">members</a>
    </div>
</li>