@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

li {
    background-color: $lightgrey;
    border-radius: 4px;
    padding: 1rem;
    list-style: none;
    margin-right: 1rem;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

h3 {
    margin: 0.5rem;
    font-size: 1.5rem;
}

.header {
    display:flex;
    justify-content: space-between;
}

.project-menu {
    position:relative;
    width: 1rem;
    height: 1rem;
    cursor:pointer;
    right:0px;
}

.project-menu-dropdown {
    display:block;
    box-shadow: 0 0 1rem 0.25rem #ccc;
    list-style-type: none;
    margin:0;
    padding:0;
    position:absolute;
    right:0px;
    white-space:nowrap;
}

.project-menu-dropdown li {
    margin:0;
    padding:0.5rem;
    background-color: $white;
}

.project-menu-dropdown li:hover {
    background-color: $primary;
    color: $white;
}

.applications-container {
    display:block;
}

.applications-container fieldset {
    margin-bottom: 0.25em;
    padding:0.5rem;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 0.25em;
}

.project-links-container {
    margin-top: 1em;
}