@import '../colors.scss';

app-menu-bar {
    grid-area: menu;
}

#content-container {
    width: 100vw;
    overflow:auto;
    padding:0;
    margin:0;
}

#main-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
    background: $panelBg;

    //grid-template-columns: [main-content]minmax(600px, auto) [info-panel]minmax(400px, 25vw);
    grid-template-columns: [main-content]minmax(600px, auto);
    grid-template-rows: [menu]minmax(80px, 6vh) 1fr;

    grid-template-areas:
    "menu menu"
    "main-content info-panel";
}

