<div id="main-container">
  <div id="left-spacer"></div>
  <div id="sidebar">
    <h1>Humlab Speech</h1>
    <app-infobox-manager></app-infobox-manager>
  </div>
  <div id="content-container">
    <router-outlet></router-outlet>
  </div>
  <!--
  <app-header></app-header>
  <div id="content-container">
      <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  -->

  <!--
  <div id="header-left-container"></div>
  <app-header></app-header>
  <div id="content-container">
      <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
  -->

  

</div>