@import '../colors.scss';

app-menu-bar {
    grid-area: menu;
}

#sidebar {
    height: 100vh;
}
#sidebar h1 {
    font-size: 3em;
}
#content-container {
    overflow: auto;
    width: 100vw;
}

#main-container {
    display: grid;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background: $panelBg;

    //grid-template-columns: [main-content]minmax(600px, auto) [info-panel]minmax(400px, 25vw);
    grid-template-columns: [main-content]minmax(600px, auto);
    grid-template-rows: [menu]minmax(50px, 6vh) 1fr [footer]40px;



    grid-template-areas:
    "menu menu"
    "main-content info-panel"
    "footer footer";
}

#footer {
    grid-area: footer;
    background: $black;
}

#umuLogo {
    display:block;
    width: auto;
    height: 100%;
    padding: 0em;
    margin:0;
    background-image: url('/assets/umu-logo-left-neg-EN.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

