@import '../../../colors.scss';

#menu-bar {
    min-height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    padding:0;
    margin:0;
    height: 4em;
}

#system-logo-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    padding:0;
    margin:0;
    padding-left: 1em;
    padding-right: 1em;
    width:auto;
    height:100%;
}

#system-logo-container img {
    display:block;
    width:auto;
    height:70%;
    object-fit: contain;
}

#back-button-container {
    display:flex;
    align-items: center;
    background: $comp3;
    margin:0;
    padding:0;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

#back-button-container #visp-back-button {
    display:flex;
    align-items:center;
    color: #000;
    text-decoration-line: none;
    font-size: 1.6em;
    cursor:pointer;
}

#back-button-container:hover {
    background: $comp2;
}

#visp-back-button-arrow {
    margin-top: 0.05em;
    margin-right: 0.1em;
    font-size: 2em;
}

#umu-logo-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    padding:0;
    margin:0;
    padding-left: 1em;
    padding-right: 1em;
    width:auto;
    height:100%;
}

#umu-logo-container img {
    display:block;
    width:auto;
    height:70%;
    object-fit: contain;
}