@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

h3 {
    display:flex;
    align-items: center;
}

h3 img {
    margin-right: 0.5em;
    height: 1em;
    width: 1em;
}

.ghost-project {
    background-color: $panelBg;
    border-radius: 4px;
    padding: 1rem;
    list-style: none;
    margin-right: 1rem;
    border-style: solid;
    border-color: $border-light;
    border-width: 1px;
}

.ghost-project ul li {
    list-style-type: circle;
}

.ghost-project ul li.done {
    list-style-type: disc;
}

#project-manager-root {
    margin-top: 2em;
}

.project-manager-header {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.project-manager-title-container {
    display:flex;
    align-items: baseline;
}

.project-manager-title-container > h2 {
    margin-right: 1em;
}

#create-project-btn {
    display:flex;
    align-items: baseline;
    justify-content: center;
    padding: 0.5em;
    border-width: 0px;
    margin:0.5em;
    height: auto;
    cursor:pointer;
    /*
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    */
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.2rem;
    background-color: $primary-light;
    border-color: $white;
    color: $white;
}

#create-project-btn:hover {
    box-shadow: 0px 0px 10px #999; 
}

#create-project-btn > i {
    color: $white;
    margin-right: 0.5em;
}


button {
    font-size: 1.5rem;
    padding: 0.5rem;
    border-color: $border-light;
}

#create-project-dialog button {
    width: 100%;
}

button:hover {
    background-color:lighten($border-light, 10%);
    cursor:pointer;
}

input[type=checkbox] {
    width:2rem;
    height:2rem;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dialog-header h2 {
    margin:0;
}

li {
    background-color: $panelBg;
    padding: 1rem;
    border-radius: 4px;
    list-style-type: none;
}

.projects-loading-indicator img {
    height: 1.0em;
    position:relative;
    top: 0.2em;
}