@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';


app-create-project-dialog {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    //padding:10%;
    background-color:rgba(0, 0, 0, 0.5);
    
}

#create-project-btn {
    padding:0.8em;
    background-color: $crimson;
    cursor:pointer;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    font-size:1.2em;
    color: #fff;
}

#create-project-btn:hover {
    background-color:lighten($crimson, 10%);
}


button {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: $crimson;
    border-radius: 4px;
    color: #fff;
}

#create-project-dialog button {
    width: 100%;
}

button:hover {
    background-color:lighten($crimson, 10%);
    cursor:pointer;
}

input[type=checkbox] {
    width:2rem;
    height:2rem;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dialog-header h2 {
    margin:0;
}

li {
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    list-style-type: none;
}

.projects-loading-indicator img {
    height: 1.0em;
    position:relative;
    top: 0.2em;
}
