@import '../../../colors.scss';
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';

h3 {
    display:flex;
    align-items: center;
}

h3 img {
    margin-right: 0.5em;
    height: 1em;
    width: 1em;
}

app-create-project-dialog {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    //padding:10%;
    background-color:rgba(0, 0, 0, 0.5);
    
}

.ghost-project {
    background-color: $lightgrey;
    border-radius: 4px;
    padding: 1rem;
    list-style: none;
    margin-right: 1rem;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
}

.ghost-project ul li {
    list-style-type: circle;
}

.ghost-project ul li.done {
    list-style-type: disc;
}

#project-manager-root {
    margin-top: 2em;
}

.project-manager-title-container {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}

.project-manager-title-container > h2 {
    margin-right: 1em;
}

#create-project-btn {
    padding:0.8em;
    padding-top:0.15em;
    padding-bottom:0.15em;
    height: 100%;
    cursor:pointer;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    font-size:1.2em;
    background-color: #fff;
    border-color: #fff;
}

#create-project-btn > i {
    color: $crimson;
}


button {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #333;
    border-color: #ccc;
}

#create-project-dialog button {
    width: 100%;
}

button:hover {
    background-color:lighten(#ccc, 10%);
    cursor:pointer;
}

input[type=checkbox] {
    width:2rem;
    height:2rem;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dialog-header h2 {
    margin:0;
}

li {
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    list-style-type: none;
}

.projects-loading-indicator img {
    height: 1.0em;
    position:relative;
    top: 0.2em;
}
