/* SCSS HEX */
$crimson: #d7263dff;
$green-blue-crayola: #3f88c5ff;
$ghost-white: #fbfbffff;
$oxford-blue: #161b33ff;
$honey-yellow: #ffb30fff;

/* SCSS HSL */
$crimson: hsla(352, 70%, 50%, 1);
$green-blue-crayola: hsla(207, 54%, 51%, 1);
$ghost-white: hsla(240, 100%, 99%, 1);
$oxford-blue: hsla(230, 40%, 14%, 1);
$honey-yellow: hsla(41, 100%, 53%, 1);

/* SCSS RGB */
$crimson: rgba(215, 38, 61, 1);
$green-blue-crayola: rgba(63, 136, 197, 1);
$ghost-white: rgba(251, 251, 255, 1);
$oxford-blue: rgba(22, 27, 51, 1);
$honey-yellow: rgba(255, 179, 15, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-right: linear-gradient(90deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-bottom: linear-gradient(180deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-left: linear-gradient(270deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-top-right: linear-gradient(45deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-bottom-right: linear-gradient(135deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-top-left: linear-gradient(225deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-bottom-left: linear-gradient(315deg, #d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);
$gradient-radial: radial-gradient(#d7263dff, #3f88c5ff, #fbfbffff, #161b33ff, #ffb30fff);

/*
$primary: $crimson;
$secondary: $green-blue-crayola;
$bg: $ghost-white;
$dark: $oxford-blue;
$accent: $honey-yellow;
$accent2: orangered;
$white: #fff;
$black: #000;
$lightgrey: #eee;
*/


/* SCSS HEX */
$barn-red: #780000ff;
$carnelian: #c1121fff;
$papaya-whip: #fdf0d5ff;
$prussian-blue: #003049ff;
$air-superiority-blue: #669bbcff;

/* SCSS HSL */
$barn-red: hsla(0, 100%, 24%, 1);
$carnelian: hsla(356, 83%, 41%, 1);
$papaya-whip: hsla(40, 91%, 91%, 1);
$prussian-blue: hsla(201, 100%, 14%, 1);
$air-superiority-blue: hsla(203, 39%, 57%, 1);

/* SCSS RGB */
$barn-red: rgba(120, 0, 0, 1);
$carnelian: rgba(193, 18, 31, 1);
$papaya-whip: rgba(253, 240, 213, 1);
$prussian-blue: rgba(0, 48, 73, 1);
$air-superiority-blue: rgba(102, 155, 188, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-right: linear-gradient(90deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-bottom: linear-gradient(180deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-left: linear-gradient(270deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-top-right: linear-gradient(45deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-bottom-right: linear-gradient(135deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-top-left: linear-gradient(225deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-bottom-left: linear-gradient(315deg, #780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);
$gradient-radial: radial-gradient(#780000ff, #c1121fff, #fdf0d5ff, #003049ff, #669bbcff);

$gradient-horizontal: linear-gradient(90deg, #003049ff, #669bbcff);

$gradient-horizontal2: linear-gradient(90deg, #669bbcff, #003049ff, #669bbcff);

$a: #D87CAC;
$b: #449DD1;
$c: #E36414;

$primary: $barn-red;
$primary-light: $carnelian;
$bg: $ghost-white;
$panelBg: #f4f4f5;
$decorator: $papaya-whip;
$secondary: $prussian-blue;
$secondary-light: $air-superiority-blue;
$border: #444;
$border-light: #ddd;
$white: #fff;
$black: #000;
$lightgrey: #eee;
$dark-font-color: #333;




@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300&display=swap');