/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');
@import "../node_modules/normalize.css/normalize.css";
@import './colors.scss';
@import '../node_modules/ngx-popperjs/scss/theme-white.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import '../node_modules/angular-notifier/styles.css';



html, body { height: 100%; }

body { 
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Gothic A1', sans-serif;
}

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    text-decoration: underline;
    text-decoration-color: $primary-light;
}

h2.indented-headline {
    margin-left: 4em;
}

h4 {
    font-size: 1.4rem;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: $secondary-light;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Gothic A1', sans-serif;
}

h5 {
    font-size: 1.1rem;
    font-weight: lighter;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Gothic A1', sans-serif;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

app-root {
    margin:0px;
    padding: 0px;
}

app-footer {
    grid-area: footer;
}

app-header {
    grid-column: center;
}

app-signin-ctrl {
    display:block;
}

button {
    border-style: solid;
    outline: 0;
}

popper-content h4 {
    margin-top:0em;
    margin-bottom:0.25em;
}

ngx-dropzone {
    display:flex;
    place-content: center;
}

ngx-dropzone > ngx-dropzone-preview {
    width: 12em !important;
    min-width: 4em !important;
    max-width: 12em !important;
    min-height: 4em !important;
    max-height: 12em !important;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-bg {
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:1;
}

.modal-dialog-container {
    position:absolute;
    display:flex;
    flex-direction: column;
    padding: 2rem;
    border-radius:4px;
    background-color: #fff !important;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
    margin-top: 1em;
    margin-bottom: 1em;
    max-height: 92vh;
    min-width: 600px;
    overflow:auto;
}

.modal-dialog-container-greyout {
    position:relative;
    top:0;
    left:0;
    background: rgba(255, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.dialog-close-btn {
    display:flex;
    place-content: center;
    position: relative;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    padding: 0.25em;
    margin-left: 1em;
    border: 1px solid transparent;
}

.dialog-close-btn:hover {
    background-color: $comp3;
    border: 1px solid #333;
    border-radius: 25%;
    cursor: pointer;
    color: #fff;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.dialog-header h2 {
    margin:0;
}

#templates-container {
    display:none;
}

.project-loading-indicator {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

#overlay-container {
    position:fixed;
    display:none;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.2);
}

#project-create-form {
}

#project-create-form input {
    margin: 8px;
    padding: 5px;
}

#project-create-form button {
    margin: 8px;
    padding: 5px;
}

form label {
    display:block;
    font-size: 0.75em;
    font-weight: normal;
}

.form h3 {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: 1.4em;
    border-left: 0.25em solid $secondary-light;
    background: transparent;
    color: #333;
}

.form fieldset {
    display:flex;
    flex-direction: column;
    border-width:0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.25em;
}

.form fieldset label {
    font-weight: bold;
    margin-bottom: 0.25em;
}

.form fieldset input {
    border-color: #ccc;
    border-style: solid;
    border-radius: 4px;
}

.form .small-button {
    font-size: 1em;
}

.form button {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: $comp3;
    color: #000;
    border-width:0px;
}

.form button:hover {
    //background-color:lighten($comp3, 10%);
    box-shadow: 0px 0px 10px #999; 
    cursor:pointer;
}

.form button.disabled {
    background: #ccc;
    cursor: default;
}

.form .section-header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.form .itemDeleteBtn {
    margin-left: 0.5em;
    cursor:pointer;
}

.form .section-header-container:hover > .itemDeleteBtn {
    visibility: visible;
    cursor:pointer;
}

.form .section-header-container button {
    padding:0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
}


.tooltip-zone {
    color: #eee;
}

.tooltip-zone:hover {
    color: $white;
}

.tooltip-zone-dark {
    color: #666;
}

.tooltip-zone-dark:hover {
    color: #333;
}

.help-text {
    margin:0;
}

.notifier__notification--material {
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.notifier__notification--default {
    background-color: #444;
    color: #fff;
}
.notifier__notification--default .notifier__notification-button-icon {
    fill: #fff;
}

.notifier__notification--error {
    background-color: $error;
    color: #fff;
}
.notifier__notification--error .notifier__notification-button-icon {
    fill: #fff;
}

.notifier__notification--warning {
    background-color: $warning;
    color: #fff;
}
.notifier__notification--warning .notifier__notification-button-icon {
    fill: #fff;
}

.notifier__notification--info {
    background-color: $info;
    color: #fff;
}
.notifier__notification--info .notifier__notification-button-icon {
    fill: #fff;
}
