@import "../../../colors.scss";
@import '../../../../node_modules/font-awesome/scss/font-awesome.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

h2 {
    font-size: 1.4rem;
    font-weight: lighter;
    margin:0;
    text-decoration: underline;
    text-decoration-color: $comp2;
    font-weight: 500;
}

h4 {
    margin:0;
    padding-top:0em;
    padding-bottom: 1em;
    font-weight: normal;
    color: #000;
    font-size: 1em;
    font-family: Quicksand;
}

p {
    background-color: white;
    margin: 1rem;
}

ul {
    padding:0;
    padding-left:0.2em;
    padding-right:1em;
}

li {
    list-style-type: none;
    margin-top: 0.5em;
}

.info-box-main-container {
    display: block;
}

.info-box-header {
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.info-box-header > i {
    margin-right: .5em;
}

.info-box {
    display: flex;
    justify-content: flex-start;
    margin: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-radius: 0px;
    //border-left: 0.5em $primary solid;
    padding-top: 1em;
    padding-bottom: 1em;
    background: $white;
    //background: linear-gradient(45deg, #fff 0%, #fff 90%, transparent 90%, transparent 100%);
}

.info-box-content {
    border: $border-light 0px solid;
    padding:0;
    margin:0;
    padding-left: 2em;
    padding-right: 2em;
    background: transparent;
    font-family: "Source sans pro";
}

.info-box-content  > ul {
    margin:0;
}

.link-button > a {
    display:flex;
    align-items: center;
    font-size: 1rem;
    margin:0;
    margin-bottom: 1em;
    padding:0;
    text-decoration: none;
    cursor: pointer;
}

.link-button > a > i {
    display:flex;
    justify-content: center;
    background: $primary;
    color: #fff;
    margin:0;
    padding: 0.5em;
    height: 1em;
    width: 1em;
}

.link-button > a > div {
    display:inline-block;
    position:relative;
    background: rgb(155, 200, 250);
    background: $dog-ear-gradient;
    color: $black;
    margin:0;
    padding: 0.5em;
    height: 1em;
    width: 7em;
    overflow: hidden;
}

.link-button > a > div:hover {
    background-color: lighten($primary, 10%);
}