h2 {
    background-color: #003;
    padding-left: 1rem;
    padding-right: 1rem;

    color: #ddd;
    border-left: 5px solid orange;
}

p {
    background-color: white;
    margin: 1rem;
}

h4 {
    margin-bottom: 0.5em;
    margin-left:-1em;
}

.info-box {
    margin: 1rem;
    border-radius: 2px;
    width: 20vw;
    min-width: 10em;
}