<div id="main-container">
    <!--
    <div id="top-menu">
        <div id="back-button-container">
            <a href="https://localtest.me">
                <div id="visp-back-button">&#8678;</div>
                <h1>Back to dashboard</h1>
            </a>
        </div>
        <div id="visp-logo">
            <img src="VISP-logo-white.png">
        </div>
        <button id="save-button">Commit & Push to Git</button>
    </div>
    -->
    <div id="loading-indicator-container" *ngIf="showLoadingIndicator">
        <img src="/assets/loading-indicator-4-dark.svg">
    </div>
    <iframe id="proxied-container" src=""></iframe>
</div>