#submitBtn {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
}

#submitBtn.disabled {
    background-color: #eee !important;
    color: #333;
    cursor: default;
}